app/build
core/data/build
core/datastore/build
*.swp
*.swo
.DS_Store
*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
/captures
app-release.apk

idol_app.apk
*.apk
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries
.idea
app/output
~$strings.xlsx
app/prod
.gradle/3.3/
.gradle/
app/.externalNativeBuild

app/strings.xlsx
.idea/modules.xml

.idea/runConfigurations.xml
**/output-metadata.json

bridge/build/**
app/app/release/**
common/build/**
component/build/**
data-resource/build/**
data/build/**
domain/build/**
local/build/**
.idea/compiler.xml

bin
.kotlin/**/*.salive
